.App {
  /* text-align: center; */
  margin: 0 5% 0 5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #9761fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.song:hover {
  background-color: rgba(56, 182, 255, 0.55);
}

.dashboard {
  height: 100vh;
}

.footer {
  bottom: 0;
  position: relative;
}

.side-menu-open {
  position: absolute;
  z-index: 1;
  top: 40px;
  margin-left: 0px;
  padding-left: 0px;
}

.side-menu-closed {
  display: none;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 0;
}

.burger div div {
  width: 28px;
  height: 2px;
  background-color: #ffffff;
  margin: 4px;
  transition: all 0.5s ease;
}

.toggle-line-one {
  transform: rotate(-45deg) translate(-9px, 5px);
}
.toggle-line-two {
  opacity: 0;
}
.toggle-line-three {
  transform: rotate(45deg) translate(-9px, -6px);
}

/* .dashboard-grid {
  position: fixed;
}
 */

/* .dashboard {
  position: absolute;
}
 */

.logout {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
}

.music-player {
  display: flex; 
  flex-flow: row; 
  justify-content:space-evenly; 
  align-items: center; 
}

.music-component{
  width: 20%;
  margin: 10px;  
}

.music-chart {
  width: 40%
}

@media (max-width: 600px){
  .music-player {
  display: flex; 
  flex-flow: column; 
  justify-content: space-around; 
  align-items: center;
  }
  .music-component {
    width: 90%;
  }
  .dashboard {
    height: initial;   
  }
}


.like:hover {
 
   -moz-transform: translate(5px, -5px);
    -ms-transform: translate(5px, -5px);
    -o-transform: translate(5px, -5px);
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px)
}

.dislike:hover {
   -moz-transform: translate(-5px, 5px);
    -ms-transform: translate(-5px, 5px);
    -o-transform: translate(-5px, 5px);
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px)
}

