/* .auth {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
  flex-grow: 1;
} */

div.main-wrapper {
  display: flex;
  max-width: 1100px;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
}

.main-cta {
  display: flex;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-cta h1 {
  font-size: 40px;
  font-weight: bolder;
  padding: 15px;
  /* font-family: 'Work Sans', bold; */
  /* @media (max-width: 500px) {
      font-size: 40px;
    } */
}

.main-cta p {
  /* font-family: 'Work Sans', sans-serif; */
  margin-left: 15px;
}

.cta-text {
  text-align: center;
}

.main-cta img {
  width: 500px;
  height: 400px;
}

.cta-signup {
  align-content: center;
  display: flex;
  flex-direction: column;
}

/* .sign-up {
  border-radius: 5px;
  height: 30px;
  width: 110px;
  background-color: #f4735c;
  margin: 2.5%;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: white;
}
.sign-up:hover {
  background-color: white;
  color: #f4735c;
  border: 1px solid #f4735c;
} */

.features:nth-child(even) {
  /* background-color: #fafafa; */
  flex-direction: row-reverse;
  width: 100%;
}
.features h2 {
  margin: 0 auto;
  margin-top: 10px;
}
.features p {
  margin-bottom: 25px;
  margin-top: 5px;
  text-align: center;
}

.features:nth-child(odd) {
  width: 100%;
}
@media (max-width: 500px) {
  .features p {
    margin-left: 19px;
    text-align: left;
  }
}

.features .full-width {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 450px;
}
.features img {
  object-fit: cover;
  max-height: 70%;
  max-width: 40%;
  margin: 2%;
  /* @media (max-width: 500px) {
    max-height: 60%;
  } */
}

h2 {
  font-weight: bolder;
}

.text-content {
  /* font-family: 'Work Sans', sans-serif; */
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}
.text-content h2 {
  /* font-family: 'Roboto', bolder; */
  font-size: 40px;
}
@media (max-width: 500px) {
  .text-content h2 {
    font-size: 20px;
  }
}
