div.main-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 900px;
}

.main-cta-spotify{
  display: flex;
  flex-direction: row-reverse;
}

.main-cta-spotify .text-content{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 10%;
}

.main-cta-spotify .text-content h2{
  font-size: 60px;
  margin: 0%;
}

.main-cta-spotify .text-content p{
  font-size: 22px;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #CECECE
}

.text-content-container{
  display: flex;
  align-items: center;
}

.img-container{
  flex-direction: row-reverse;
  width: 50%;
}

.img-container img{
  height: 92%;
}

.cta-text {
  text-align: center;
}

.main-cta img {
  width: 500px;
  height: 400px;
}


@media (max-width: 500px) {
  .text-content h2 {
    font-size: 20px;
  }
}
